# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
android/app/build/
ios/Pods/
ios/build/
*.keystore

# Xcode
*.xcworkspace
*.xcuserdata
DerivedData/

# Bundles / outputs
dist/
build/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
.vscode/
.idea/
